//@import url('https://fonts.googleapis.com/css?family=Roboto+Serif:600.css');

@import 'colors.less';

.app-root-2023-sdg_costing .app {
  font-family: Roboto, "Helvetica Neue", Helvetica, Arial, sans-serif;
  .container {
    align-items: center;
    background-color: @unorange;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    margin: auto auto auto auto;
    min-height: 100vh;
    text-align: center;
    width: 100%;
    .content {
      background-color: #fff;
      box-shadow: 0 3px 10px rgba(0,0,0,.2);
      height: 100%;
      overflow: hidden;
      padding: 20px;
      width: 600px;
      h2 {
        font-size: 40px;
        margin: 0 0 20px 0;
        padding: 0;
      }
      h3 {
        margin: 0;
        padding: 0;
      }
      .number_container {
        margin-bottom: 10px;
        .number {
          color: @unbluetext;
          font-size: 30px;
          font-weight: 600;
          position: relative;
          &.number_1 {
            left: -500px;
            &.visible {
              left: 0;
            }
          }
          &.number_2 {
            left: 500px;
            &.visible {
              left: 0;
              transition-delay: 3s;
            }
          }
          &.number_1,
          &.number_2 {
            &.visible {
              transition-duration: 3s;
              transition-property: left;
            }
          }
        }
        .round_up {
          opacity: 0;
          &.visible {
            opacity: 1;
            transition-delay: 3s;
            transition-property: opacity;
          }
        }
      }
      .legend_container {
        margin-bottom: 5px;
        .legend_item {
          display: inline-block;
          margin: 0 10px;
          text-transform: uppercase;
          color: #222;
          letter-spacing: 0.02em;
          font-weight: 600;
          font-size: 14px;
          .legend_icon {
            display: inline-block;
            background-color: @ungrey;
            height: 6px;
            width: 6px;
            border-color: @ungrey;
            border-radius: 50%;
            border-style: solid;
            border-width: 2px;
            margin-right: 5px;
            &.target {
              background-color: @unred;
              border-color: @unred;
            }
            &.current {
              background-color: @unblue;
              border-color: @unblue
            }
          }
        }
      }
      .dots {
        align-items: flex-start;
        box-sizing: border-box;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: left;
        margin: auto auto 5px auto;
        max-width: 900px;
        width: 100%;
        .dot {
          align-content: center;
          align-items: center;
          background-color: transparent;
          border: 0;
          cursor: pointer;
          display: inline-flex;
          height: 12px;
          justify-content: center;
          margin: 4px;
          position: relative;
          width: 12px;
          transition: transform 0.2s ease-in-out;
          span {
            background-color: #fff;
            background-color: @ungrey;
            border-color: @ungrey;
            border-radius: 50%;
            border-style: solid;
            border-width: 2px;
            box-sizing: content-box;
            display: inline-block;
            height: 0;
            margin: 2px;
            opacity: 0;
            padding: 2px;
            pointer-events: none;
            position: absolute;
            z-index: 1;
            color: rgba(255, 255, 255, 0.5);
            font-size: 12px;
            line-height: 11px;
            &.current {
              border-color: @unblue;
              background-color: @unblue;
            }
            &.target {
              border-color: @unred;
              background-color: @unred;
            }
          }
        }
      }
      .note_container {
        color: #222;
        font-size: 13px;
      }
    }
  }
}

@import 'basics.less';