//@import url('https://fonts.googleapis.com/css?family=Roboto+Serif:600.css');

@import 'colors.less';

.app-root-2023-sdg_costing .app {
  font-family: Roboto, "Helvetica Neue", Helvetica, Arial, sans-serif;
  .container {
    align-items: center;
    background-color: @unorange;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    margin: auto auto auto auto;
    min-height: 100vh;
    text-align: center;
    width: 100%;
    .content {
      background-color: #fff;
      box-shadow: 0 3px 10px rgba(0,0,0,.2);
      height: 100%;
      overflow: hidden;
      padding: 20px;
      width: 600px;
      h2 {
        margin: 0;
        padding: 0;
      }
      h3 {
        margin: 0;
        padding: 0;
      }
      .number {
        color: @unbluetext;
        font-size: 30px;
        font-weight: 600;
        position: relative;
        &.number_1 {
          left: -400px;
          &.visible {
            left: 0;
          }
        }
        &.number_2 {
          left: 400px;
          &.visible {
            left: 0;
            transition-delay: 3s;
          }
        }
        &.number_1,
        &.number_2 {
          &.visible {
            transition-duration: 3s;
            transition-property: left;
          }
        }
        &.number_3 {
          opacity: 0;
          &.visible {
            opacity: 1;
            transition-delay: 6s;
            transition-property: opacity;
          }
        }
      }
      .dots {
        align-items: flex-start;
        box-sizing: border-box;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: left;
        margin: auto auto 20px auto;
        max-width: 900px;
        width: 100%;
        .dot {
          align-content: center;
          align-items: center;
          background-color: transparent;
          border: 0;
          cursor: pointer;
          display: inline-flex;
          font-size: 0;
          height: 38px;
          justify-content: center;
          margin: 2px;
          position: relative;
          width: 38px;
          transition: transform 0.2s ease-in-out;
          span {
            background-color: #fff;
            border-color: @unblue;
            border-radius: 50%;
            border-style: solid;
            border-width: 2px;
            box-sizing: content-box;
            display: inline-block;
            height: 0;
            margin: 2px;
            opacity: 0;
            padding: 2px;
            pointer-events: none;
            position: absolute;
            z-index: 1;
            &.red {
              background-color: @unred;
            }
          }
        }
      }
    }
  }
}

@import 'basics.less';