@import url('https://fonts.googleapis.com/css?family=Roboto+Serif:600,700.css');
@import 'colors.less';

.app-root-2023-sdg_costing .app {
  box-sizing: border-box;
  font-family: Roboto, "Helvetica Neue", Helvetica, Arial, sans-serif;
  padding: 200px 0;
  .container {
    align-items: center;
    background-color: transparent;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: auto auto auto auto;
    min-height: 100vh;
    text-align: center;
    text-shadow: 1px 1px 1px #eee; 
    width: 100%;
    .background_ring {
      background-color: #fff;
      border-radius: 10%;
      height: 670px;
      opacity: 0.9;
      position: absolute;
      max-width: 670px;
      width: 100%;
      z-index: 2;
      @media all and (max-width: 768px) {
        background-color: transparent;
      }
    }
    .content {
      background-color: rgba(255, 255, 255, 0.8);
      border-radius: 20px;
      box-sizing: border-box;
      display: flex;
      flex-direction: column;
      max-width: 500px;
      padding: 20px 20px 20px 20px;
      position: relative;
      width: 100%;
      z-index: 3;
      @media all and (min-width: 769px) {
        background-color: transparent;
        padding: 20px 20px 20px 20px;
      }
      h2 {
        color: @unbluetext;
        font-family: Roboto Serif;
        font-size: 44px;
        line-height: 44px;
        font-weight: 700;
        margin: 0 0 5px 0;
        &:after {
          display: none;
        }
      }
      .intro {
        color: #666;
        font-size: 15px;
        margin: 0 0 40px 0;
        text-transform: uppercase;
      }
      .number_container {
        margin: 0 0 20px 0;
        width: 100%;
        transition-duration: 3s;
        transition-property: opacity;
        opacity: 0;
        &.total_cost {
          &.visible {
            opacity: 1;
            transition-delay: 0.5s;
          }
        }
        &.share_gdp {
          opacity: 0;
          &.visible {
            opacity: 1;
            transition-delay: 1.5s;
          }
        }
        &.gap {
          opacity: 0;
          &.visible {
            opacity: 1;
            transition-delay: 3s;
          }
        }
        h3 {
          color: @unbluetext;
          font-family: Roboto Condensed;
          font-size: 36px;
          font-weight: 700;
          margin: 0 0 5px 0;
        }
        &.left {
          text-align: left;
        }
        &.right {
          text-align: right;
        }
        .number {
          color: @ungreentext;
          font-weight: 600;
          &.total_cost {
            display: flex;
            .value {
              display: inline-block;
              font-size: 80px;
              line-height: 80px;
              margin-right: 5px;
            }
            .unit {
              font-size: 34px;
              line-height: 36px;
            }
          }
          &.share_gdp {
            display: flex;
            justify-content: flex-end;
             .value {
              display: inline-block;
              margin-right: 5px;
              font-size: 50px;
              line-height: 50px;
            }
            .unit {
              font-size: 20px;
              line-height: 24px;
              text-align: left;
            }
          }
          &.gap {
            display: flex;
             .value {
              display: inline-block;
              margin-right: 5px;
              font-size: 55px;
              line-height: 50px;
            }
            .unit {
              font-size: 20px;
              line-height: 24px;
              text-align: left;
            }
          }
        }
        .extra {
          color: #666;
          font-size: 18px;
          font-weight: 400;
        }
        .dots_container {
          float: right;
          width: 240px;
          .dots {
            align-items: flex-start;
            box-sizing: border-box;
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: right;
            margin: auto auto 5px auto;
            .dot {
              align-content: center;
              align-items: center;
              background-color: transparent;
              display: inline-flex;
              height: 35px;
              justify-content: center;
              margin: 4px;
              position: relative;
              width: 35px;
              .dot_wrapper {
                background-color: #e6efd0;
                border-radius: 10px;
                display: inline-block;
                height: 0;
                width: 0;
                span {
                  border-radius: 10px;
                  display: inline-block;
                  height: 35px;
                  width: 35px;
                }
                &.share {
                  span {
                    background-color: @ungreen;
                    float: left;
                    opacity: 0;
                    transition-delay: 1s;
                    transition-duration: 3s;
                    transition-property: opacity;
                    width: 100%;
                    &.visible {
                      opacity: 1;
                    }
                  }
                }
              }
            }
          }
        }
      }
      .show_more_container {
        max-width: 500px;
        opacity: 0;
        text-align: right;
        transition-delay: 3s;
        transition-duration: 3s;
        transition-property: opacity;
        width: 100%;
        @media all and (min-width: 769px) {
          position: absolute;
          bottom: -70px;
          left: 60px;
        }
        &.visible {
          opacity: 1;
        }
        .show_more_wrapper {
          display: inline-block;
          a {
            background-color: @ungreen;
            border-radius: 50%;
            border: 4px solid #fff;
            color: #fff;
            display: table-cell;
            font-size: 13px;
            font-weight: 600;
            height: 90px;
            box-sizing: content-box;
            letter-spacing: 0.05em;
            opacity: 1;
            text-align: center;
            line-height: 20px;
            text-shadow: 0 0 0;
            vertical-align: middle;
            width: 90px;
            text-transform: uppercase;
            text-decoration: none;
            &:hover {
              background-color: rgba(84, 138, 153, 1);
              cursor: pointer;
              text-decoration: underline;
            }
          }
        }
      }
    }
  }
}

@import 'basics.less';